html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********/

.wrapper{ 
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}


/*First container*/

.first-container{
    background-color: #1C1E53;
}

.first-container header .menu ul{
    display: flex;
}

.first-container header .menu ul li a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #BBBBCB;
    text-decoration: none;
    transition: 0.8s;
}

.first-container header .menu ul li a:hover,
.first-container header .menu ul li.first-link a {
    color: #FFFFFF;
}

.first-container header .menu ul li{
    margin-right: 32px;
}

.first-container header .menu ul li.contact-btn{
    margin-left: 16px;
    margin-right: 0;
}

.first-container header .menu ul li.contact-btn a{
    color: #fff;
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    transition: 0.8s;
}

.first-container header .menu ul li.contact-btn a:hover{
    background-color: #fff;
    color: #1C1E53;
}

.first-container header{
    display: flex;
    justify-content: space-between;
    height: 92px;
    align-items: center;
}

.first-container .head-content{
    display: grid;
    grid-template-columns: 582px 638px;
    column-gap: 60px;
    padding-top: 126px;
    padding-bottom: 128px;
}

.first-container .head-content .left-content{
    font-family: 'Poppins';
}

.first-container .head-content .left-content h1{
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #fff;
    margin-bottom: 24px;
}

.first-container .head-content .left-content p{
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 48px;
}

.first-container .head-content .left-content .btn-wrap 
.btn-work{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #1B1C2B;
    background-color: #FCD980;
    border-radius: 41px;
    padding: 16px 56px;
    text-decoration: none;
    margin-right: 40px;
    transition: 0.8s;
    display: inline-block;
}

.first-container .head-content .left-content .btn-wrap 
.btn-work:hover{
    color: #FCD980;
    background-color: #1B1C2B;
}

.first-container .head-content .left-content .btn-wrap
.btn-pricing{
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
    text-decoration: none;
}

.first-container .head-content .left-content .btn-wrap
.btn-pricing span{
    font-size: 24px;
    vertical-align: middle;
    margin-left: 16px;
}

.first-container .head-content .right-content{
    align-self: center;
}

.first-container .head-content .right-content img{
    width: 100%;
    max-width: 100%;
}



/*  How we work    */
.second-container{
    background-color: #F4F6FC;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 128px 10%;
    column-gap: 142px;
}
.second-container .head{
    width: 405px;
    
}
.second-container .head h4{
    font-family: 'Poppins';
font-weight: 600;
font-size: 48px;
line-height: 64px;
color: #282938;
margin-bottom: 16px;
}
.second-container .head p{
    font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #282938;
opacity: 0.7;
}
.second-container .head a{
    text-decoration: none;
    font-family: 'Poppins';
font-weight: 500;
font-size: 18px;
line-height: 32px;
color: #2405F2;
}
.second-container .head a span{
    font-size: 24px;
    vertical-align: middle;
    margin-left: 16px;
}
.second-container .working{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    row-gap: 48px;
}

.second-container .working .etaps h5{
    margin-top: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #282938;
    
}
.second-container .working .etaps p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-top: 8px;
    opacity: 0.7;
}
/* HEAD   INFO*/

.container-projects{
    margin: 128px auto;
}
.container-projects .head-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 64px;
}
.container-projects .head-info h3{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
}
.container-projects .head-info a{
    font-family: 'Poppins';
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #282938;
text-decoration: none;
align-self: center;
text-align: right;
}
.container-projects .head-info a span{
    margin-left: 16px;
    vertical-align: -3px;
    font-size: 24px;
}
.container-projects .projects{
    display: grid;
    grid-template-columns: 800px 405px;
    grid-template-rows: 284px 284px;
    column-gap: 32px;
    row-gap: 32px;
}
.container-projects .projects .first-item{
    grid-row: 1/3;
    position: relative;
}
.container-projects .projects .first-item .project-info{
    width: 400px;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    left: 0;
}
.container-projects .projects .first-item .project-info h4{
    font-family: 'Poppins';
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
padding: 312px 35px 16px 48px;
}
.container-projects .projects .first-item .project-info p{
    font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
opacity: 0.8;
padding-left: 48px;
padding-right: 55px;
padding-bottom: 40px;
}
.container-projects .projects .first-item .project-info a,
.container-projects .projects .second-item .project-info a,
.container-projects .projects .third-item .project-info a{
    text-decoration: none;
    font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #FCD980;
margin-left: 48px;
}
.container-projects .projects .first-item .project-info a span,
.container-projects .projects .second-item .project-info a span,
.container-projects .projects .third-item .project-info a span{
    font-size: 24px;
    vertical-align: middle;
    margin-left: 16px;
}

.container-projects .projects .second-item,
.container-projects .projects .third-item{
    position: relative;
}

.container-projects .projects .second-item .project-info,
.container-projects .projects .third-item .project-info{
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.8s;
}
.container-projects .projects .second-item:hover .project-info,
.container-projects .projects .third-item:hover .project-info{
    opacity: 1;
}
.container-projects .projects .second-item .project-info h4,
.container-projects .projects .third-item .project-info h4{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 129px 56px 10px 60px;

}
.container-projects .projects img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*    Features   */

.features{
    background-color: #F4F6FC;
    font-family: 'Poppins';
}

.features .top-info p{
    font-weight: 500;
font-size: 16px;
line-height: 175%;
text-align: center;
color: #282938;
padding-top: 128px;
}
.features .top-info h1{
    font-weight: 600;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #282938;
margin-bottom: 47px;
width: 630px;
}
.features .problem-solvers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 128px;
    column-gap: 32px;
    row-gap: 24px;
}
.features .problem-solvers .solver{
    background-color: #FFFFFF;

}
.features .problem-solvers .solver img{
    padding: 58px 0 22px 48px;
}
.features .problem-solvers .solver h5{
    font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #282938;
padding: 0 33px 12px 48px;
}
.features .problem-solvers .solver p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #282938;
padding: 0 33px 48px 48px;
opacity: 0.7;
}
/*  Comments  */
.container-comments {
    font-family: 'Poppins';
    background: rgba(244, 246, 252, 0.5);
}

.container-comments .box-comments {
    display: grid;
    grid-template-columns: 327px 843px;
    column-gap: 110px;
    padding: 128px 0;
}

.container-comments .box-comments .about-comments h3 {
    font-weight: 600;
    font-size: 38px;
    line-height: 147%;
    color: #282938;
    margin-bottom: 16px;
}

.container-comments .box-comments .about-comments p {
    font-size: 16px;
    line-height: 175%;
    color: #282938;
    opacity: 0.7;
}

.container-comments .box-comments .slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-comments .box-comments .slider .descr {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #282938;
    margin-bottom: 48px;
    grid-column: 1/span2;
}

.container-comments .box-comments .slider .author {
    display: grid;
    grid-template-columns: 52px 183px;
    grid-template-rows: 56px;
    column-gap: 14px;
}

.container-comments .box-comments .slider .author img {
    width: 100%;
    max-width: 100%;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 0 -8px;
}

.container-comments .box-comments .slider .author .info .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    color: #282938;
}

.container-comments .box-comments .slider .author .info .more-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #282938;
}

.container-comments .box-comments .slider .btns .left-btn,
.container-comments .box-comments .slider .btns .right-btn {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.container-comments .box-comments .slider .btns .right-btn {
    background-color: #5239FA;
    margin-left: 10px;
}

.container-comments .box-comments .slider .btns {
    align-self: end;
    justify-self: end;
}
/**/
/*Container building website*/
.container-website{
    display: grid;
    grid-template-columns: 656px 624px;
   
    font-family: 'Poppins';
    margin: 128px auto;
}
.container-website .left-info{
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
}
.container-website .left-info .content{
    height: 100%;
    background: rgba(28, 30, 83, 0.5);
}
.container-website .left-info .content h3{
    font-weight: 600;
font-size: 54px;
line-height: 74px;
color: #FFFFFF;
padding: 96px 96px 24px 96px;
}
.container-website .left-info .content p{
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
padding: 0 96px;
}
.container-website .right-info{
    background-color: #1C1E53;
}
.container-website .right-info h4{
    padding: 96px 96px 16px 96px;
    font-weight: 500;
font-size: 32px;
line-height: 150%;
color: #FFFFFF;
}
.container-website .right-info p{
    padding: 0 96px;
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #F4F6FC;
}
.container-website .right-info form{
    max-width: 432px;
    margin: 0 auto;
    padding: 40px 0 28px 0;
}
.container-website .right-info form input{
    margin-bottom: 16px;
    width: 100%;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    outline: 0;
    padding-left: 32px;
    font-size: 16px;
    line-height: 175%;
}
.container-website .right-info form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   
    color: #F4F6FC;

opacity: 0.5; /* Firefox */
  }
  
  .container-website .right-info form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F4F6FC;

    opacity: 0.5;
  }
  
  .container-website .right-info form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #F4F6FC;

    opacity: 0.5;
  }
  .container-website .right-info form button{
    width: 100%;
    margin-top: 23px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 32px;
color: #1B1C2B;
background: #FCD980;
border-radius: 41px;
border: none;
padding: 16px 0;
cursor: pointer;
transition: 0.8s;
  }
  .container-website .right-info form button:hover{
    background-color: #1C1E53;
    color: #FCD980;
  }
  .container-website .right-info .btn-wrap{
    text-align: center;
    padding-bottom: 48px;
  }
  .container-website .right-info .btn-wrap a{
    text-decoration: none;
    font-weight: 500;
font-size: 18px;
line-height: 32px;
color: #FFFFFF;

  }
  .container-website .right-info .btn-wrap a span{
    margin-left: 10px;
    vertical-align: middle;

  }

  /*Our Blog*/
.blog{
    font-family: 'Poppins';
}
.blog h3{
    font-weight: 600;
font-size: 48px;
line-height: 64px;
color: #282938;
margin-bottom: 64px;
}
.blog .info-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    margin-bottom: 128px;
}

.blog .info-block .blocks img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
}
.blog .info-block .blocks p,
.blog .info-block .blocks .date{
    font-weight: 500;
font-size: 16px;
line-height: 175%;
color: #282938;
opacity: 0.7;
}
.blog .info-block .blocks h5{
    font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #282938;
margin: 16px 0;
}
.blog .info-block .blocks a{
    text-decoration: none;
    font-weight: 500;
font-size: 16px;
line-height: 175%;
color: #282938;
}
.blog .info-block .blocks p{
    margin-bottom: 32px;
}
/*Footer*/













/*ADAPTIVE*/
@media screen and (max-width: 1300px) {
    .center {
        width: 95%;
    }

    .first-container .head-content {
        grid-template-columns: 45% 50%;
        column-gap: 5%;
    }

    .container-projects .projects {
        grid-template-columns: 2fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .container-comments .box-comments {
        grid-template-columns: 30% 65%;
        column-gap: 5%;
    }
    .second-container{
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        row-gap: 20px;
        
    }
    .container-website{
        grid-template-columns: calc(50% + 16px) calc(50% - 16px);
    }
    .container-website .right-info form{
        padding: 40px 96px 28px 96px;
    }
   
}

@media screen and (max-width: 1024px) {
    .first-container .head-content {
        grid-template-columns: 1fr;
        column-gap: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        row-gap: 30px;
    }

    .first-container .head-content .left-content {
        order: 1;
    }

    .first-container header .menu {
        display: none;
    }

    .container-projects .projects {
        grid-template-columns: 1fr 1fr;
    }

    .container-projects .projects .first-item {
        grid-column: 1/3;
    }

    .container-projects {
        margin: 60px auto;
    }

    .container-projects .head-info {
        margin-bottom: 30px;
    }

    .container-projects .head-info h3 {
        font-size: 32px;
    }

    .container-comments .box-comments .about-comments h3 {
        font-size: 32px;
    }

    .container-comments .box-comments .slider .descr {
        font-size: 24px;
    }

    .container-comments .box-comments {
        padding: 50px 0;
    }
    .second-container .head h4{
        font-size: 32px;
    }
    .second-container .working .etaps h5{
        font-size: 25px;
    }
    .container-website .left-info .content h3{
        padding: 96px 0 24px 0;
        width: 95%;
        margin: 0 auto;
    }
    .container-website .left-info .content p{
        padding:0;
        width: 95%;
        margin: 0 auto; 
    }
    .container-website .right-info h4{
        padding: 96px 0 16px 0;
        width: 95%;
        margin: 0 auto;
    }
    .container-website .right-info p{
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }
    .container-website .right-info form{
        padding: 40px 0 28px 0;
        width: 95%;
        max-width: 100%;
        margin: 0 auto;
    }
    .features .top-info h1{
        font-size: 32px;
    }
    .features .problem-solvers{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .features .top-info p{
        padding-top: 50px;
    }
    .blog .info-block{
        grid-template-columns: none;
        row-gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .first-container .head-content .left-content h1 {
        font-size: 32px;
        line-height: 48px;
    }

    .first-container .head-content .left-content .btn-wrap .btn-pricing {
        display: inline-block;
        padding: 16px 56px;
    }

    .container-projects .projects .second-item,
    .container-projects .projects .third-item {
        grid-column: 1/3;
    }

    .container-projects .projects .first-item .project-info {
        width: 100%;
    }

    .container-comments .box-comments {
        grid-template-columns: 1fr;
    }

    .container-comments .box-comments .slider {
        padding-top: 30px;
    }

    .container-comments .box-comments .slider .descr {
        margin-bottom: 15px;
    }
    .second-container{
        grid-template-rows: 1fr 4fr;
        padding: 128px auto;
       
    }
    .second-container .working{
        grid-template-columns: none;
    }
    .container-website{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .features .top-info{
        padding-top: 50px;
    }
   
    .features .top-info h1{
        width: 80%;
    }
    .features .problem-solvers{
       grid-template-columns: none;

        row-gap: 10px;
    }
    .blog h3{
        font-size: 32px;
    }
    .blog .info-block .blocks h5{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container-projects .head-info {
        grid-template-columns: 1fr;
    }

    .container-projects .head-info a {
        text-align: left;
    }

    .container-projects {
        margin: 30px auto;
    }
    .second-container .head-info{
        width: 100%;
    }
    .second-container{
        grid-template-rows: 1fr 4fr;
        padding: 128px auto;
       
    }
    .second-container .working{
        grid-template-columns: none;
        
    }
    .second-container .working .etaps{
        width: 100%;
    }
    .second-container .head{
        width: 100%;
    }

}

@media screen and (max-width: 425px) {

    .first-container .head-content .left-content .btn-wrap .btn-pricing,
    .first-container .head-content .left-content .btn-wrap .btn-work {
        padding: 16px 0;
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .container-projects .projects .first-item .project-info h4,
    .container-projects .projects .second-item .project-info h4,
    .container-projects .projects .third-item .project-info h4 {
        padding-left: 20px;
    }

    .container-projects .projects .first-item .project-info p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-projects .projects .first-item .project-info a,
    .container-projects .projects .second-item .project-info a,
    .container-projects .projects .third-item .project-info a {
        margin-left: 20px;
    }

    .container-comments .box-comments .slider .descr {
        font-size: 20px;
    }

    .container-comments .box-comments .slider .btns{
        grid-column: 1/3;
        justify-self: center;
    }
    .features .top-info h1{
        font-size: 25px;
        line-height: 35px;
    }
  
}

@media screen and (max-width: 375px) {
    .container-projects .projects .first-item .project-info h4 {
        padding-top: 200px;
    }

    .container-projects .projects .second-item .project-info h4,
    .container-projects .projects .third-item .project-info h4 {
        padding-top: 50px;
    }
}